---
layout: page
title: Selected Projects
permalink: /projects.html
description: "Reza's selected projects."
comments: false
---

{% for proj in site.data.index.projects %}
<div class="row project">
    <div class="col l3">
        {% if proj.round %}
        <img style="max-height: 320px; border-radius: 50%;" src="{{ site.url }}/assets/img/{{ proj.visual }}" width="320px"/>
        {% else %}
        <img style="max-height: 320px;" src="{{ site.url }}/assets/img/{{ proj.visual }}" width="320px"/>
        {% endif %}
    </div>
    <div class="col l8 offset-l1">
        <h2>{{ proj.name }}</h2>
        {% if proj.github %}
        <a class="btn" href="{{ proj.github }}" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> Github</a>
        {% endif %}
        <a class="btn btn-info" href="{{ proj.full_report }}" target="_blank"><i class="fa fa-file-pdf-o"></i> Report</a>
        <div class="content">
            <p style="margin: 0">{{ proj.descr }}</p>
        </div>
    </div>
</div>
{% endfor %}