<h1><span style="color:#F36170" data-i18n="skills.my_skills">This is Reza &#128075</span></h1>

<div>
    I am currently working as a ML Scientist @ <a href="https://www.coveo.com/en" target="_blank">Coveo</a> where I get
    to do sciency things. Specifically, I try to find clever solutions to a variety of problems concerning search and
    personalization using shallow and deep learning, reinforcement learning, and natural language processing techniques.
    I document my learning notes in this <a href="{{ '/logs.html' | relative_url }}">blog</a>. Send me an email:
    davari.mreza@gmail.com if you have questions or find
    any errors. Thank you &#128522
</div>


