<h1><span data-i18n="skills.my_skills">Career</span></h1>

<div class="archive">
    <div class="timeline" id="timeline">
        {% for career in site.data.index.careers %}
        <div class="archive-title">
            <div class="archive-year"><strong>{{ career.date }}</strong> {{ career.job }} @ <a href="{{ career.link }}"
                                                                                               target="_blank">{{
                career.name }}</a>
                {% if career.logo_file %}
                <img src="{{ '/assets/img/' | append: career.logo_file | relative_url }}" alt="{{career.name }} logo"
                     class="avatar"
                     style="width: 40px;position: absolute; top:50%; float: left;left: 2px;margin-left: -20px;margin-top: -10px;">
                {% endif %}
                {{ career.descr }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>