<div class="navy-line"></div>
<h1><span data-i18n="skills.my_skills">Education</span></h1>

<div class="archive">
    <div class="timeline" id="timeline">
        {% for career in site.data.index.education %}
        <div class="archive-title bio">
            <div class="archive-year">
                <strong>{{ career.date }}</strong>
                <a href="{{ career.link }}" target="_blank">{{ career.name }}</a>
                {% if career.name2 %}
                and <a href="{{ career.link2 }}" target="_blank">{{ career.name2 }}</a>
                {% endif %}
                {% if career.logo_file and career.logo_file2%}
                <img src="{{ '/assets/img/' | append: career.logo_file | relative_url }}" alt="{{career.name }} logo"
                     class="avatar"
                     style="width: 40px;position: absolute; top:25%; float: left;left: 2px;margin-left: -20px;margin-top: -10px;">
                <img src="{{ '/assets/img/' | append: career.logo_file2 | relative_url }}" alt="{{career.name }} logo"
                     class="avatar"
                     style="width: 40px;position: absolute; top:50%; float: left;left: 2px;margin-left: -20px;margin-top: -10px;">
                {% elsif career.logo_file %}
                <img src="{{ '/assets/img/' | append: career.logo_file | relative_url }}" alt="{{career.name }} logo"
                     class="avatar"
                     style="width: 40px;position: absolute; top:50%; float: left;left: 2px;margin-left: -20px;margin-top: -10px;">
                {% endif %}
                {{ career.descr }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>