<div class="navy-line"></div>
<h1><span data-i18n="skills.my_skills">Education</span></h1>

<div class="archive">
  <div class="timeline" id="timeline">
    {% for career in site.data.index.education %}
          <div class="archive-title bio">
              <div class="archive-year">
                    <strong>{{ career.date }}</strong>
                    <a href="{{ career.link }}" target="_blank">{{ career.name }}</a>
                    {% if career.name2 %}
                    and <a href="{{ career.link2 }}" target="_blank">{{ career.name2 }}</a>
                    {% endif %}
                    {{ career.descr }}
              </div>
          </div>
    {% endfor %}
  </div>
</div>