<h1><span data-i18n="skills.my_skills">COMP-335: Introduction to Theoretical Computer Science</span></h1>

<h2><span data-i18n="skills.my_skills">Assignment Submission Instructions</span></h1>

<div>
<ul>
	<li>
		<b> Theory assignments:</b> You are expected to submit your solutions as PDF. Other formats will not be graded. There will be a grade associated with how neat, readable, and organized your assignment is, hence I recommend against submitting a handwritten solution. I suggest using LaTeX and submitting the PDF. If you are not familiar with LaTeX, this is a good opportunity for you to caught up with it, since sooner or later you will have to use it. Here is a good <a href="https://www.overleaf.com/learn/latex/Tutorials">tutorial</a> for it. The other option would be using Microsoft Word, and submitting the PDF. 
	</li>
</ul>
</div>

<hr>