<h1><span data-i18n="skills.my_skills">COMP-5361: Discrete Structures and Formal Languages</span></h1>

<h2><span data-i18n="skills.my_skills">Assignment Submission Instructions</span></h1>

<div>
<ul>
	<li>
		<b> Theory assignments:</b> You are expected to submit your solutions as PDF. Other formats will not be graded. There will be a grade associated with how neat, readable, and organized your assignment is, hence I recommend against submitting a handwritten solution. I suggest using LaTeX and submitting the PDF. If you are not familiar with LaTex, this is a good opportunity for you to caught up with it, since sooner or later you will have to use it. Here is a good <a href="https://www.overleaf.com/learn/latex/Tutorials">tutorial</a> for it. The other option would be using Microsoft Word, and submitting the PDF. 
	</li>
	<li>
		<b> Programing assignments:</b> You are expected to submit the following, using <a href="https://colab.research.google.com/">Google Colab</a>:
		<ol>
			<li>
				<b> An ipython notebook:</b> This file should contain all your code and explanations. Be sure that you are using python 3 not python 2. Assignments done in python 2 will not be graded. You can find an example of how your ipython notebook should look like <a href="https://drive.google.com/file/d/1Y3Jwl-v7_l7Kfpq48KWKBJeKKwJaDV36/view?usp=sharing">here (Colab)</a> and <a href="https://github.com/rezazzr/GVF_SR_reinforcement_learning/blob/master/GVF_SR.ipynb">here (Github)</a>.
			</li>
			<li>
				<b> A PDF file:</b> This file is the PDF of the ipython notebook. It is very easy to create the PDF version. Search it online and if you could not find any solutions, you can ask me during the tutorials.
			</li>
		</ol>
	</li>
</ul>
</div>

<hr>