---
layout: default
---
<div class="row">

    <div class="col l7">
        <img src="{{ '/assets/img/reza_profile.png' | relative_url }}" width="320" height="320"/>
        {% include sections/about.html %}
    </div>

    <div class="col l4 offset-l1">
        {% include sections/skills.html %}
    </div>

</div>

<div class="row">
    <div class="col l7">
        {% include sections/career.html %}
    </div>
    <div class="col l4 offset-l1">
        {% include sections/education.html %}
    </div>
    <div class="col l4 offset-l1">
        {% include sections/teaching_exp.html %}
    </div>
</div>